/*Last Modified 2014-12-02 1015 BMN */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover, a:focus, a:active { color: #036; }
ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

 /* Primary Styles
    Author: William Deacon
 */
/* Table of Contents
------------------------------------
    1. Elements (a, body, p, etc.)
	2. ID's (#container, etc.)
	3. Classes (.red, .clear, etc.)
	4. Social Media Widget
	5. IE6
	6. IE7
	7. Print
------------------------------------*/

/* 1. Elements
------------------------------------*/
body{ background-color: #221c18;}
a {
	text-decoration:none;
	font-weight:bold;
	color:#fff;
	/*font-size:1.2em;*/
}
a:hover, a:focus, a:active { color:#aa9a6b;}
a:visited{ color: #fff;}
h2 {
	color:#afafaf;
	margin-bottom:4px;
	font-size:1.75em;
	line-height:1.3em;
	font-family: futura, trebuchet, Arial, sans-serif bold;
}
h3.sergeant {
	font-size:1.4em;
	text-align:left;
	font-family: Helvetica,Arial,sans-serif;
	font-weight:bold;
	padding-left:0px;
	color:#fff;
}
h4.name {
	text-align:left;
	font-family: Helvetica,Arial,sans-serif;
	font-weight:normal;
	color: #afafaf;
	font-size: 1.2em;
	/*border-bottom:1px solid #fff;*/
	padding-left:0px;
}
hr {
	float:left;
	background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/hortizontal.gif);
	background-repeat:repeat-x;
	height:1px;
	border: 0;
	width: 80%;
	margin:40px 40px;
}
hr.full {
	float:left;
	background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/hortizontal.gif);
	background-repeat:repeat-x;
	height:1px;
	border: 0;
	width: 100%;
	margin:40px 0px;
}
hr.small {
	float:left;
	background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/hortizontal.gif);
	background-repeat:repeat-x;
	height:1px;
	border: 0;
	width: 80%;
	margin:40px 0px 40px 75px;
}
p {
	font-size:1em;
	margin:7px 0px;
	float:left;
	color:#afafaf;
	line-height: 1.5em;
}

/* 2. ID's
------------------------------------*/
#archives{
	background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/more_stories.gif) no-repeat;
	text-align: center;
	border: none;
	height: 36px;
	width: 470px;
	display: block;
	text-indent: -9999px;
	clear: both;
	margin: 50px auto;
	position: relative;
	top:10px;
}
#archives:hover, #archives:focus, #archives:active{
	background-position: 0 -36px;
	cursor: pointer;
}
#badgeHistory {
	float:left;
	width:430px;
	margin-left: 38px;
}
#badgeHistory p {
	float:none;
	width:100%;
}
ul#banner {
	margin: 0 auto;
	width:1024px;
	height:355px;
	display: block;
	overflow: hidden;
}
ul#banner li {
	width:1050px;
	height:355px;
}
ul#banner li img{
	float: none;
	border: none;
	margin: 0;	
}
#billboard{
	margin:10px auto 0 auto; /*23px 39px 0*/
	float: left;
	width:1024px;
	height:355px;
	display: block;
	/*position: relative;*/
	overflow: hidden;
	/*z-index: 10;*/
}
/*ul#competitorNav {
	float:left;
	width:960px;
	margin:20px 0px 0px 10px;
	padding:0px;
}
ul#competitorNav li {
	float:left;
	display: inline;
}
ul#competitorNav li a {
	color:#221c18;
	font-size:1em;
	padding:4px 6px 4px 6px;
	height:18px;
	margin-right:4px;
	background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/compNav_bk.gif) repeat-x;
}
ul#competitorNav li a:hover, ul#competitorNav li a:focus, ul#competitorNav li a:active {
	color:#fff;
	background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/compNav_bk_hover.gif) repeat-x;
}
ul#competitorNav li a.current {
	background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/compNav_bk_hover.gif) repeat-x;
	color:#fff;
}
#competitors{ margin-top: 50px;}*/
#creed{
	float: left;
	background-color: #332c28;
	padding: 10px;
	margin-left: 18px; 
}
#creed img {
	width:430px;
	height:190px;
	margin:0px 0px 10px 0px;
	padding:0px;
}
#creed p {
	color:#fff;
	font-weight:bold;
	float: right;
	width: 100%;
	font-size: .9em;
}
ul#dsoyBanner {
	margin: 0 auto;
	width:1024px;
	height:420px;
	display: block;
	overflow: hidden;
}
ul#dsoyBanner li {
	width:1050px;
	height:420px;
}
ul#dsoyBanner li img{
	float: none;
	border: none;
	margin: 0;	
}
#dsoyBillboard{
	margin:10px auto 0 auto; /*23px 39px 0*/
	float: left;
	width:1024px;
	height:420px;
	display: block;
	position: relative;
	overflow: hidden;
	z-index: 10;
}
#dsoyLabel{
	width: 1024px;
	height: 75px;
	position:absolute;
	top: 320px;
	left: 0px;
	background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/comp_slider/DSOY_slider_branding.png) no-repeat;
	z-index: 50;
}
#feed http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/
#feed ul li{
	float:left;
	font-size:.8em;
	border-bottom:1px dotted #fff;
	padding-bottom:6px;
	margin-bottom:6px;
}
#feed ul li a{ float:none;}
#footer {
	padding-top:23px;
	margin:0px auto;
	color:#221c18;
	float:none;
	width:1100px;
	bottom:0px;
}
#footer p {
	margin:0px auto;
	color:#221c18;
	width:74%;
}
#footer p a {
	font-size:1em;
	color:#221c18;
}
#footer p a:hover, #footer p a:focus, #footer p a:active { color:#fff;}
#footerWrapper {
	background: #221c18 url(http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/footer_bkgd_rpt.jpg);
	background-position:bottom center;
	background-repeat:repeat-x;
	width:100%;
	height:146px;
	text-align:center;
	float:left;
}
#hatHistory {
	float:left;
	width:430px;
	margin-left: 38px;
}
#hatHistory p {
	float:none;
	width:100%;
}
#header{
	background-image:url(http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/header_bg_rpt.jpg);
	background-position:top center;
	background-repeat:repeat-x;
	background-color:#221c18;
	height: 146px;
	min-width: 1100px;
	display: block;
}
#header .container{
	z-index: 1000;
}
#leftColumn {
	float:left;
	padding:0px 38px 0 0;
	margin:50px 0px;
	width:470px;/*470*/
	/*border-right:1px dotted #afafaf;*/
}
#leftColumnBanner {
	float:left;
	padding:0px 38px 0 0;
	margin:20px 0px;
	width:470px;
	/*border-right:1px dotted #afafaf;*/
}
#leftColFacebook {
	float:left;
	padding:0px 38px 0 0;
	margin:20px 0px;
	width:470px;
    height: 180px;
	/*border-right:1px dotted #afafaf;*/
}
#leftColFacebook a {
	float:left;
}
#leftColumnNews {
	float:left;
	padding:0px 38px 0 0;
	margin:50px 0px;
	width:510px;/*470*/
	/*border-right:1px dotted #afafaf;*/
}
ul#mainNav {
	width: 960px;
	list-style: none;
	overflow: hidden;
	margin: -140px auto 25px auto;
}
ul#mainNav li {
	width: 126px;
	height: 33px;
	float: left;
	padding: 13px 0 0 0;
	/*(background: url(images/nav-bg.png);*/
	font-weight: bold;
	font-family: futura, tebuchet, Arial, sans-serif bold;
	font-size: 1.2em;
	text-align: center;
	text-transform: uppercase;
}
ul#mainNav li:nth-child(1) { margin: 0 60px 0 0;}
ul#mainNav li:nth-child(2) { margin: 0 316px 0 0;}
ul#mainNav li:nth-child(3) { margin: 0 60px 0 0;}
ul#mainNav li:nth-child(4) { margin: 0;}
ul#mainNav li a {
	color: #bfbfbf;
	text-decoration: none;
}
ul#mainNav li a:hover, ul#mainNav li a:focus, ul#mainNav li a:active { color: #fff;}
ul#mainNav li#current a {
	color:#fff;
	margin-bottom: 10px;
}
ul#mainNav li#current {
	float:left;
	background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/nav_arrow_lg.png);
	background-position:bottom center;
	background-repeat:no-repeat;
}
h1#navLogo {
	margin: 0 auto;
	padding-top: 52px;
	position: relative;
	width: 220px;
	z-index: 1000;
	/*height: 142px;*/
}
#news {
	float:left;
	line-height:1em;
}
/*#playerContainer {
	padding:7px;
	background: #fff;
	float:left;
	margin-bottom:20px;
	width:366px;
}*/
#playerContainer a{ color:#3d3d3d;}
#playerContainer a:hover, #playerContainer a:focus, #playerContainer a:active{ color:#afafaf;}
#resources {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #afafaf;
}
ul#resources li{ padding: 3px 0;}
ul#resources li a:hover, ul#resources li a:focus, ul#resources li a:active{ color:#aa9a6b;}
#rightColumn {
	float:right;
	padding: 0px 38px;
	margin:50px 0px;
	width:430px;
	display:inline-block;
}
#rightColumn p {
	float:none;
	width:100%;
}
#rightColumnBanner {
	float:right;
	padding: 0px 38px;
	margin:20px 0px;
	width:430px;
	display:inline-block;
}
#rightColMap {
	float:right;
	padding: 0px 38px;
	margin:20px 0px;
	width:430px;
	display:inline-block;
	height:180px;
}
#rightColMap p {
	float:none;
	width:100%;
	font-size:15px;
	margin-top:7px;
	padding-top:15px;
}
#rightColumnBanner p {
	float:none;
	width:100%;
}
#rightColumnNews {
	float:right;
	padding: 0px 38px;
	margin:50px 0px 50px 25px;
	width:365px;/*430*/
	display:inline-block;
}
#rightColumnNews p {
	float:none;
	width:100%;
}
#shortBio{ margin-top: 20px;}
#shortBio a:hover, #shortBio a:focus, #shortBio a:active{ color:#aa9a6b;}
#twitter {
	float:left;
	width:380px;/*332px*/
	background-color:#332c28;
	margin-bottom:20px;
}
#twitter h2 {
	background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/twitterbird.png);
	background-position:center right;
	background-repeat:no-repeat;
	background-color:#221c18;
	padding:29px 0px;
}
#twitter-link {
	float:right;
	margin: 2px 7px 10px 0px;
	font-size:.9em;
}
#competition-accordion { padding-top:7px; }
#competition-accordion div { clear:both; }
#competition-accordion p {
	font-size:1.75em;
	line-height:1.7em;
	margin-left:110px; 
}
#competition-accordion a { color:#afafaf; }
#competition-accordion a:hover {
	color:#aa9a6b;
	cursor:pointer;
}
#fb-link {
	height:122px;
    margin-top:7px;
}
#fb-link div{
	margin-top:12.7px;
	font-size:20px;
	line-height:1.5em;
}
#fb-link a:hover{ text-decoration: underline; }
#map-link { height:122px; }
#previous-winners-h2 {
	margin-bottom:11px;
	padding-top:20px;
	clear:both;
}
#yt-video-container {
	margin-bottom:29px;
	width:380px;
}
/* 3. Classes
------------------------------------*/
a.allVids { float:left;}
.badge {
	float:right;
	border:none;
	padding:0px 0px 0px 6px;
	margin:0px;
}
a.badgeicon img {
	border:none;
	float:right;
	padding-right:20px;
	margin-top:2px;
}
.bioPic_sm {
	border:none;
	float:left;
	margin:0px 12px 10px 0px;
	border:2px solid #fff;
	width:160px;
}
a.captVids { float:right;}
.category {
	font-weight:bold;
	color:#afafaf;
	margin-right:7px;
}
.clear{ clear: both;}
.compbutton {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% futura, Arial, Helvetica, sans-serif;
	padding: 7px 28px 8px; /*.5em 2em .55em*/
	-webkit-border-radius: 4px; /*.5em*/ 
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-transform: uppercase;
}
.compbutton:hover, .compbutton:focus, .compbutton:active { text-decoration: none;}
.competitor {
	float:left;
	width:960px;
	padding:35px 32px 32px 32px;
	margin:0px 0px 10px 0px;
	border:1px solid #fff;
	background-color:#332c28;
}
.competitor h2{
	float:left;
	margin:0px 0px 10px 0px;
	width:60%;
}
.competitor h3{
	float:left;
	margin-bottom:20px;
	padding:4px 0px 20px 0px;
	font-family: Helvetica,Arial,sans-serif;
	font-weight:normal;
	color: #afafaf;
	font-size:1.4em;
	width:60%;
	border-bottom:1px dotted #fff;
	padding-left:0px;
}
.competitor img{
	border:none;
	margin: 0px 16px 20px 0px;
	width:345px;
	float:left;
	/*border:2px solid #fff;*/
}
.competitor p {
	float:left;
	text-align:left;
	font-size:1em;
	color:#afafaf;
	padding-right:10px;
}
.competitor p.bio {
	float:none;
	font-size:.9em;
	color:#fff;
}
.compSubnav{
	width: 330px;
	height: 30px;
	position: absolute;
	top: 105px;
	left:705px;
}
.container{
	width: 1100px;
	margin: 0 auto;
	position: relative;
}
.fullBio p{
	font-size: 1em;
	float:left;
}
.hats {
	float:right;
	margin-left:12px;
	margin-top: 12px;
	padding:0px;
}
.hidden { display:none;}
.hide {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.skip2 a { display: block; position: absolute; left: -10000px; top: auto; width: 100%; height: 3em; font-weight: bold; text-align: center; font-size:1.5em; color: #fff;} 
.skip2 a:active, .skip2 a:focus { background: #221c18; position: static; width: auto; height: auto; padding: 1em; margin: auto;}
.main{
	width: 1024px;
	margin: 0 auto;
}
span.mapInfo {
	/*float: left;
	margin:10px 10px 0 0;*/
	background-image:url("http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/map_1.png");
	background-position: 0px 17px;
	background-repeat: no-repeat;
	height:131px;
	width:160px;
	float:left;
	cursor:pointer;
	margin-top:-8px;
}
p.mapInfo { margin-top: 43.7px;}
p.mapInfo a:hover, p.mapInfo a:focus, p.mapInfo a:active { color:#aa9a6b;}
.more {
	font-size:1em;
	padding-left:7px;
}
.mapInfo a:hover {text-decoration:underline;color:#FFF!important;}
span.mapInfo:hover {
	background-image:url("http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/maphoover.png");
}
div.facebookLink {
	background-image: url("http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/facebook.jpg");
	background-repeat: no-repeat;
	height: 82px;
	width: 82px;
	margin-top: 16px;
}
.accordion-parentheses { font-style:italic; }
.accordion-year {
	font-weight:bold;
	color:#FFF;
}
a.star img {
	border:none;
	float:left;
	padding-left:20px;
}
.storyBlock {
	float:left;
	margin-top:7px;
	margin-bottom:15px;
	width:100%;
}
.storyBlock a img {
	margin:0px 15px 20px 0px;
	float: left;
}
.storyBlock h3 a { font-size:1em;}
.storyBlock p{
	width:auto;
	float:none;
	font-size: .9em;
}
/* color styles for subnav */
.subnav {
	color: #929292;
	border: solid 1px #9a9898;
	background: #ebebeb;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cecece));
	background: -moz-linear-gradient(top,  #fff,  #cecece);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cecece');
}
.subnav:hover, .subnav:focus, .subnav:active {
	color: #000;
	background: #cecece;
	background: -webkit-gradient(linear, left top, left bottom, from(#cecece), to(#fff));
	background: -moz-linear-gradient(top,  #cecece,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cecece', endColorstr='#ffffff');
}
.subnav.active {
	color: #000000;
	border: solid 1px #9a9898;
	background: #cecece;
	background: -webkit-gradient(linear, left top, left bottom, from(#cecece), to(#cecece));
	background: -moz-linear-gradient(top,  #cecece,  #cecece);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cecece', endColorstr='#cecece');
}
a.subnav { color:#929292;}
/* end color styles for subnav*/
.twtr-hd, .twtr-ft { display: none; }
.twtr-tweets{ margin-bottom: 10px;}
.star-icon {
    background-image: url("http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/sprites_dsoy2.png");
    background-position: -64px 0;
    background-repeat: no-repeat;
    float: left;
    height: 24px;
    margin: 12px 24px 0 50px;
    width: 24px;
}
.icon {
    height: 16px;
    margin: 0 50px 0 0;
	position: absolute;
	right: 10px;
	top: 28px;
    width: 28px;
}
.up-arrow-icon {
	background-image: url("http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/sprites_dsoy2.png");
	background-position: -31px -3px;
	background-repeat: no-repeat;
}
.down-arrow-icon {
	background-image: url("http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/sprites_dsoy2.png");
	background-position: 0 -3px;
	background-repeat: no-repeat;
}
.accordion-headers {
	color:#FFFFFF;
	cursor: pointer; 
	background-image: -webkit-linear-gradient(top, rgba(107,107,107,1) 0%,rgba(43,43,43,1) 100%);
    background-image:    -moz-linear-gradient(top, rgba(107,107,107,1) 0%,rgba(43,43,43,1) 100%);
    background-image:     -ms-linear-gradient(top, rgba(107,107,107,1) 0%,rgba(43,43,43,1) 100%);
    background-image:      -o-linear-gradient(top, rgba(107,107,107,1) 0%,rgba(43,43,43,1) 100%);
    background-image:         linear-gradient(top, rgba(107,107,107,1) 0%,rgba(43,43,43,1) 100%);
    -webkit-border-radius: 19px;
     -moz-border-radius: 19px;
          border-radius: 19px;
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6B6B6B', endColorstr='#2b2b2b',GradientType=0 );
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
	padding: 10px;
	position: relative;
	width: 980px;
}
.accordion-headers:hover {
	background-image: -webkit-linear-gradient(top, rgba(107,107,107,1) 16%,rgba(43,43,43,1) 100%);
    background-image:    -moz-linear-gradient(top, rgba(107,107,107,1) 16%,rgba(43,43,43,1) 100%);
    background-image:     -ms-linear-gradient(top, rgba(107,107,107,1) 16%,rgba(43,43,43,1) 100%);
    background-image:      -o-linear-gradient(top, rgba(107,107,107,1) 16%,rgba(43,43,43,1) 100%);
    background-image:         linear-gradient(top, rgba(107,107,107,1) 16%,rgba(43,43,43,1) 100%);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,1), 0px 0px 2px 0px rgba(0,0,0,1), 0px 0px 2px 0px rgba(0,0,0,1);
       -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,1), 0px 0px 2px 0px rgba(0,0,0,1), 0px 0px 2px 0px rgba(0,0,0,1);
            box-shadow: 0px 0px 2px 0px rgba(0,0,0,1), 0px 0px 2px 0px rgba(0,0,0,1), 0px 0px 2px 0px rgba(0,0,0,1);
}
.competitionBanners {
	height:370px;
}
.featuredPhotos {
   border: 3px solid #d8d8d8 ;
}
.featured_navigation, .featuredPhotos, .featured_image img {
	width:446px!important;
	height:300px;
}
.featured_photo, .feature {
	height:300px!important;
}
a.featured_next.navPad, a.featured_prev.navPad {
    bottom: -52px;
}

.featured_captionButton, a.featured_captionButton {
	left:387px!important;
	font-size:1em;
	bottom:-102px!important;
}
.featured_caption {
	width:446px;
}
.featuredPhotos .featured_caption {
	bottom: -102px!important;
}
.featured_captionText {
	width:436px!important;
	height:300px;
}

/* 4. Social Media Widget
------------------------------------*/
#addThis{width:100%; margin:0 auto; font-size:.82em;}
#addThis h2{text-indent: -9999px;}
#addThis ul{background-color:#332c28;display:block;float:left;list-style:none outside none;width:100%;margin:5px 5px 5px 0px; padding: 5px 3px;}
#addThis ul#tops li{width:16%;}
#addThis li{float:left;width:19.4%;margin:8px 0;padding: 4px 2px;}
#addThis li:hover,#addThis li:focus,#addThis li:active{color:#fff;background:#4c423d;}
.share_sprite .textLink{float:left;margin-left:21px;width:80px;display:block;}
.share_sprite{display:inline;float:left;height:16px;width:16px;margin:4px;}
#footer .armystar{top:-10px;}
#tops .share_sprite .textLink {width:80px;}
.facebook { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 0 no-repeat; }
.twitter { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -16px no-repeat; }
.googleplus { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -32px no-repeat; }
.pinterest { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -48px no-repeat; }
.stumbleupon { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -64px no-repeat; }
.reddit { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -80px no-repeat; }
.linkedin { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -96px no-repeat; }
.all { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -112px no-repeat; }
.share_sprite .textLink:hover, .share_sprite .textLink:focus, .share_sprite .textLink:active {color:#fff;cursor:pointer;}

/* 5. IE 6
---------------------------------------------- */
.ie6 ul#competitorNav {margin-left:15px;}
.ie6 ul#competitorNav li {padding-bottom:0px; float: left;}
.ie6 ul#competitorNav li a {padding:2px 15px; text-align: center; width: 120px;}
.ie6 #creed{float:right;}
.ie6 #creed p{clear:both; float:left;}
.ie6 #footer p {padding-top:10px;}
.ie6 #footerWrapper {margin-top:60px;}
.ie6 #hatHistory p{width:auto;}
.ie6 #leftColumn {width:430px;}
.ie6 #leftColumn p {width:100%;}
.ie6 #leftColumnBanner {width:430px;}
.ie6 #leftColFacebook {width:430px;}
.ie6 ul#mainNav{padding-top: 5px;}/*7px*/
.ie6 ul#mainNav li#current {float:left; background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/nav_arrow_sm.gif); background-position:bottom center; background-repeat:no-repeat;}
.ie6 #news p {width:auto;}
.ie6 #rightColumn{clear:both; float:right; margin-left:12px;}
.ie6 #rightColumn p {width:auto;}
.ie6 #rightColumnBanner {margin:20px -20px 0 12px; clear:both;} /*margin-left: 12px;*/
.ie6 #rightColMap {margin:20px -20px 0 12px; clear:both;} /*margin-left: 12px;*/
.ie6 #rightColumnBanner p {width: auto;}
.ie6 #rightColMap p {width: auto;}
.ie6 #rightColumnNews {margin:50px -20px 0 12px; clear:both;}/*margin-left: */
.ie6 .competitor {margin: 0 auto;}
.ie6 .competitor h2{line-height:1.5em;}
.ie6 .compSubnav a.compbutton:visited{color: #000000;}
.ie6 hr.full {clear:left;}
.ie6 .fullBio{clear: both; margin-top: -35px;}
.ie6 .main{margin-top:-70px;}
.ie6 #addThis ul {padding:0 0 5px 0;}
.ie6 #tops .share_sprite .textLink {width:75px;margin-left:10px;}
.ie6 #sub .share_sprite .textLink {position:relative;width:75px;margin-left:10px;}
.ie6 .share_sprite .textLink {margin-left:10px;}

/* 6. IE7
------------------------------------*/
.ie7 #badgeHistory p{width:auto;}
.ie7 #creed{float:right;}
.ie7 #creed p{clear:both; float:left;}
.ie7 #hatHistory p{width:auto;}
.ie7 #leftColumnBanner {width:430px;}
.ie7 #leftColFacebook {width:430px;}
.ie7 ul#mainNav{padding-top: 5px;}/*7px*/
.ie7 ul#mainNav li#current {float:left; background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/nav_arrow_sm.gif); background-position:bottom center; background-repeat:no-repeat;}
.ie7 #rightColumn p {width:auto;}
.ie7 #rightColumnBanner {margin-left: 12px; clear:both;}
.ie7 #rightColMap {margin-left: 12px; clear:both;}
.ie7 #rightColumnBanner p {width: auto;}
.ie7 #rightColMap p {width: auto;}
.ie7 #rightColumnNews {margin:50px -20px 0 12px; clear:both;}/*margin-left: */
.ie7 #subNav li ul.innerNav{position:relative;top:-10px;}
.ie7 .fullBio{clear: both; margin-top: -35px;}
/*.ie7 #addThis li:hover,#addThis li:focus,#addThis li:active{margin: 2 auto 0 auto;}*/
.ie7 #addThis ul {padding:0 0 10px 0;}

/* 7. IE8
------------------------------------*/
.ie8 .accordin-headers {padding: 40px 20px 20px 20px;}

/* 8. IE9
------------------------------------*/
.ie9 .accordin-headers {padding: 40px 20px 20px 20px;}

/* 9. Print
------------------------------------*/
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}