/*
* jQuery UI CSS Framework
* Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/


/* Layout helpers
----------------------------------*/
.ui-helper-reset { 
	margin: 0; 
	border: none; 
	padding: 0; 
	outline: 0; 
	line-height: 1.3; 
	text-decoration: none; 
	font-size: 100%; 
	list-style: none;
}

.ui-helper-clearfix:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-reset { 
	margin: 0;
	border: none;
	padding: 0; 
	outline: 0; 
	line-height: 1.3; 
	text-decoration: none; 
	font-size: 100%; 
	list-style: none; 
}

.ui-helper-clearfix:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}

.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */


/* Tabs
----------------------------------*/
.ui-tabs { 
	padding: 0; /* .2em */
	position: relative;
} 
/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */

.ui-tabs .ui-tabs-nav { 
	margin: 0;
	padding: .2em .2em 0;
}

.ui-tabs .ui-tabs-nav li {
	background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/compNav_bk.gif) repeat-x;
	color:#221c18;
	margin-right:4px;
	margin-bottom: 0;
}

/*.ui-tabs .ui-tabs-nav li:hover {
	color:#fff;
	background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/compNav_bk_hover.gif) repeat-x;
}*/

.ui-tabs .ui-tabs-nav li a {
	font-size:.8em;
	padding:4px 6px 0px 6px;
	height:18px;
	display: block;
	color:#221c18;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/drillsergeant/compNav_bk_hover.gif) repeat-x;
	color:#fff;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a { color: #FFFFFF; }

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }

.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; }
.ui-tabs .ui-tabs-hide { display: none !important; }






/*
* jQuery UI CSS Framework
* Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
* To view and modify this theme, visit http://jqueryui.com/themeroller/
*/


/* Component containers
----------------------------------*/
.ui-widget { 
	font-family: inherit; /*Verdana,Arial,sans-serif {ffDefault}*/;
 	font-size: inherit;  /*1.1em{fsDefault}*/;
}

.ui-widget-content {}
.ui-widget-header {}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {}


/* Misc visuals
----------------------------------*/

/* Corner radii */
.ui-corner-top {}
.ui-corner-bottom {}
.ui-corner-right {}
.ui-corner-left {}
.ui-corner-all {}

