/* Table of Contents
------------------------------------
	1. Reset
    2. Elements (a, body, p, etc.)
	3. ID's (#container, etc.)
	4. Classes (.red, .clear, etc.)
	5. Print
	6. Handheld
	
COLORS
    Body Background:       #
    Main Text:             #
    Links:                 #
    Dark Brown Border:     #
    Green Headline:        #
------------------------------------*/

/* 1. Reset
------------------------------------*/


/* 2. Elements
------------------------------------*/

/* 2. Elements
------------------------------------*/

hr.full { clear:left;}

/* 3. ID's
------------------------------------*/

#leftColumnBanner p, #leftColumn p { width:100%;}
#footerWrapper { margin-top:60px;}
#rightColumnBanner p, #rightColumn p { width:auto;}
.competitor h2{ line-height:1.5em;}
.competitor p { position:relative;top:75px;left:-575px;}
.competitor { padding-bottom:7.5em;}
#hatHistory p{ width:auto;}

/* 4. Classes
------------------------------------*/

.mapInfo { margin-right:25px;}
.facebookLink { margin-right:25px;}
#news p { width:auto;}
.scroll-pane { width:100%;}
#addThis ul { padding: 5px 3px 8px 3px;}
#addThis li { padding: 4px 2px 8px 2px; margin:8px 1px 0 1px;}

/* 5. Print
------------------------------------*/
@media print {
    
}

/* 6. Handheld
------------------------------------*/
@media handheld {
    
}